<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.manager.dao.RoleMapper">
  <resultMap id="BaseResultMap" type="com.smart.common.bean.SysRole">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="available" jdbcType="CHAR" property="available" />
  </resultMap>

  <select id="pageQueryData" resultType="com.smart.common.bean.SysRole">
    SELECT * FROM sys_role t
    <where>
      <if test="queryText != null">
        AND t.name LIKE concat('%',#{queryText},'%')
      </if>
    </where>
    limit #{start}, #{size}
  </select>

  <select id="pageQueryCount" resultType="int">
    SELECT COUNT(*) FROM sys_role t
    <where>
      <if test="queryText != null">
        AND t.name LIKE concat('%', #{queryText}, '%')
      </if>
    </where>
  </select>

  <insert id="insertRole">
    INSERT INTO  sys_role(
    name,remark,available
    ) VALUES (
    #{name},#{remark},#{available}
    )
  </insert>

  <update id="updateRole">
     UPDATE sys_role
    SET remark = #{remark},available = #{available}
    WHERE id = #{id}
  </update>

  <delete id="deleteRoles">
    DELETE FROM sys_role WHERE id IN
    <foreach collection="roleIds" item="id" open="(" close= ")" separator=",">
      #{id}
    </foreach>
  </delete>

</mapper>